@import "tailwindcss";

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.snap-container{
    scroll-snap-type: y mandatory;
}

.snap-item{
    scroll-snap-align: start;
}